<div>
  <h1>Enter your login and password</h1>
    <form [formGroup]="myForm">
      <div class="col-4 mb-3">
        <label class="form-label">Enter your username</label>
        <input class="form-control" name="username" type="text" formControlName="username" />
      </div>

      <div class="mb-3 col-4">
        <label class="form-label">Enter your password</label>
        <input class="form-control" name="password" type="password" formControlName= "password" />
      </div>
      <div class="login-error" *ngIf="loginError">
        Not correct usernmae or password
      </div>
      <div>
        <button (click)="submit()">Open profile</button>
      </div>
    </form>
</div>