<div>
    <h1>Home</h1>
  <p>Checking the initial skills: Angular, core, common, router

    Task
    Implement an application that can display the following pages:
    
    / - home
    /login - login and password entry page
    /news - news page (any information of the same type)
    Just show some 	
    /profile - a page with free text, unavailable without authorization
    On the site, in the header or basement, implement the links:
    
    To the main (/)
    News (/ news)
    https://newsapi.org/ - use this open api to show any random news. 
    Profile (/ profile)
    If the user clicks on the "profile" page and he is not "authorized" - throw on the / login page
    
    The login form (/ login) accepts fake data:
    
    username: admin
    password: 12345
    </p>
</div>